<mat-toolbar class="main-header">
    <button (click)="toggleSidenav.emit()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
    <div class="branding">
        <h1 class="mat-text-primary mat-text-primary text-uppercase">Gestión librería</h1>
    </div>
    <!--<button [matMenuTriggerFor]="user" mat-icon-button style="margin-left: auto">
      <mat-icon>person</mat-icon> 
  </button>{{loggedUsername}}
    <mat-menu #user="matMenu" x-position="before">
        <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      Settings
    </button>
        <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Profile
    </button>
        <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      Disable notifications
    </button>
        <button mat-menu-item (click)="doLogout()">
      <mat-icon>exit_to_app</mat-icon>
      Sign Out
    </button>
    </mat-menu>-->
</mat-toolbar>